# IDE integrations
/.idea/
/.vs/
/.vscode/
/.zed/
*.swp
*.swo

# Node / Tree-sitter
tree-sitter-nexa/node_modules/
tree-sitter-nexa/build/
package-lock.json

# CMake / C++ Build
**/build/
/cmake-build-*/
/cmake-build/
.DS_Store
