* text=auto

# C / C++
*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf

# Other Languages
*.rs text eol=lf
*.py text eol=lf
*.js text eol=lf

# Data & Configs
*.fbs text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
CMakeLists.txt text eol=lf
*.cmake text eol=lf

*.ttf binary
*.bin binary
*.png binary
*.jpg binary
*.jpeg binary

*.nx linguist-language=Nexa
